<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>conNpc1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,274}</string>
                <key>spriteSourceSize</key>
                <string>{529,274}</string>
                <key>textureRect</key>
                <string>{{1,322},{529,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conNpc1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{529,319}</string>
                <key>spriteSourceSize</key>
                <string>{529,319}</string>
                <key>textureRect</key>
                <string>{{1,1},{529,319}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>conNpc2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,295}</string>
                <key>spriteSourceSize</key>
                <string>{515,295}</string>
                <key>textureRect</key>
                <string>{{532,1},{515,295}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>conNpc2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{515,284}</string>
                <key>spriteSourceSize</key>
                <string>{515,286}</string>
                <key>textureRect</key>
                <string>{{532,518},{515,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>conNpc_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{515,327}</string>
                <key>spriteSourceSize</key>
                <string>{515,329}</string>
                <key>textureRect</key>
                <string>{{1,598},{515,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>go1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,55}</string>
                <key>spriteSourceSize</key>
                <string>{66,57}</string>
                <key>textureRect</key>
                <string>{{1,927},{64,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>go2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,55}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{58,927},{63,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>conNpc.png</string>
            <key>size</key>
            <string>{828,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:765cbb70ea7aa63302861bccdaf5a236:e8dea44912b88fec5f5531de1edd0a35:99a7eae9aaee9c8c244a015ec9f08266$</string>
            <key>textureFileName</key>
            <string>conNpc.png</string>
        </dict>
    </dict>
</plist>
