<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_lc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,165},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,51}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{161,1207},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hero_lj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{110,51}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{161,1271},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hero_lm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-88,48}</string>
                <key>spriteSize</key>
                <string>{104,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{163,1005},{104,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hero_lm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,48}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{179,909},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,329},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,493},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{234,162}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,657},{234,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,-42}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{161,1335},{62,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hero_rj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{116,-42}</string>
                <key>spriteSize</key>
                <string>{62,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{179,821},{62,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-104,-40}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{97,1851},{62,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hero_rm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-40}</string>
                <key>spriteSize</key>
                <string>{62,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{183,1851},{62,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_lb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,20}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1369},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_lb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-5}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1753},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_lm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,15}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1849},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Npc1_lm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{117,1687},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Npc1_ls1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1465},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_ls2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,7}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{117,1399},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_rb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-1}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1561},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_rb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{117,1495},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_rm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-5}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{163,1111},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_rm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{80,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{113,1769},{80,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Npc1_rs1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{114,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1657},{114,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc1_rs2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{117,1591},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,25}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1005},{180,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Npc2_g1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,14}</string>
                <key>spriteSize</key>
                <string>{176,182}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,821},{176,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Npc2_g2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,26}</string>
                <key>spriteSize</key>
                <string>{180,158}</string>
                <key>spriteSourceSize</key>
                <string>{320,210}</string>
                <key>textureRect</key>
                <string>{{1,1187},{180,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero_Npc.png</string>
            <key>size</key>
            <string>{248,1936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a8600298a2855688cdd3e316b47c019:e5b146587419983bdb1d2d89c1c769bc:6d360c6d47d9f781788214828c96803f$</string>
            <key>textureFileName</key>
            <string>Hero_Npc.png</string>
        </dict>
    </dict>
</plist>
