<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero_lc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,199},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,265},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_lm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,331},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,397},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,463},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,529},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rj1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,595},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rj2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,661},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,727},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hero_rm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,64}</string>
                <key>spriteSourceSize</key>
                <string>{32,64}</string>
                <key>textureRect</key>
                <string>{{1,793},{32,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hero.png</string>
            <key>size</key>
            <string>{34,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89f138cc05456c982d208bbdfd881f2a:5147cd6b5f867131795b8da6e9066f9a:39db81978b5d821c653ed2e674af469f$</string>
            <key>textureFileName</key>
            <string>Hero.png</string>
        </dict>
    </dict>
</plist>
