<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airplane_bkg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,462}</string>
                <key>spriteSourceSize</key>
                <string>{692,462}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,103}</string>
                <key>spriteSourceSize</key>
                <string>{102,103}</string>
                <key>textureRect</key>
                <string>{{319,1151},{102,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,103}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{284,1256},{100,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boat_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{180,1245},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boat_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{102,104}</string>
                <key>textureRect</key>
                <string>{{180,1351},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,54}</string>
                <key>spriteSourceSize</key>
                <string>{79,54}</string>
                <key>textureRect</key>
                <string>{{366,854},{79,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,157}</string>
                <key>spriteSourceSize</key>
                <string>{177,157}</string>
                <key>textureRect</key>
                <string>{{1,1121},{177,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{242,695},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,157}</string>
                <key>spriteSourceSize</key>
                <string>{177,157}</string>
                <key>textureRect</key>
                <string>{{1,1300},{177,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{242,695},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{239,141}</string>
                <key>spriteSourceSize</key>
                <string>{243,141}</string>
                <key>textureRect</key>
                <string>{{1,695},{239,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,96}</string>
                <key>spriteSourceSize</key>
                <string>{281,96}</string>
                <key>textureRect</key>
                <string>{{1,838},{281,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boss_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,157}</string>
                <key>spriteSourceSize</key>
                <string>{177,157}</string>
                <key>textureRect</key>
                <string>{{99,926},{177,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>double_le_bul1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,22}</string>
                <key>spriteSourceSize</key>
                <string>{37,22}</string>
                <key>textureRect</key>
                <string>{{465,1},{37,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>double_le_bul2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,19}</string>
                <key>spriteSourceSize</key>
                <string>{35,23}</string>
                <key>textureRect</key>
                <string>{{386,1339},{35,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>double_ri_bul1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,21}</string>
                <key>spriteSourceSize</key>
                <string>{38,23}</string>
                <key>textureRect</key>
                <string>{{465,25},{38,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>double_ri_bul2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,24}</string>
                <key>spriteSourceSize</key>
                <string>{37,24}</string>
                <key>textureRect</key>
                <string>{{465,65},{35,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>down_butt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{284,1361},{76,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>down_butt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,71}</string>
                <key>spriteSourceSize</key>
                <string>{76,71}</string>
                <key>textureRect</key>
                <string>{{423,1115},{76,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>little1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{81,57}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{258,1059},{81,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>little2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-1}</string>
                <key>spriteSize</key>
                <string>{81,57}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{386,1256},{81,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>little_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{101,69}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{346,1048},{101,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>little_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{125,63}</string>
                <key>spriteSourceSize</key>
                <string>{129,69}</string>
                <key>textureRect</key>
                <string>{{239,854},{125,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middle1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{422,695},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>middle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{422,835},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>middle3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{99,838},{138,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>middle_down1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{160,1105},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>middle_down2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{258,919},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>middle_hurt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,86}</string>
                <key>spriteSourceSize</key>
                <string>{138,86}</string>
                <key>textureRect</key>
                <string>{{417,975},{138,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rush1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,69}</string>
                <key>spriteSourceSize</key>
                <string>{110,69}</string>
                <key>textureRect</key>
                <string>{{248,1118},{110,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rush2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,69}</string>
                <key>spriteSourceSize</key>
                <string>{111,69}</string>
                <key>textureRect</key>
                <string>{{346,935},{111,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>single_bul1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{284,1434},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>single_bul2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,28}</string>
                <key>spriteSourceSize</key>
                <string>{29,28}</string>
                <key>textureRect</key>
                <string>{{315,1434},{29,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{423,1188},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{445,1251},{76,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ufo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{78,61}</string>
                <key>textureRect</key>
                <string>{{362,1361},{76,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LastPass.png</string>
            <key>size</key>
            <string>{509,1463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:393afca981eed3a2d1078b3bdfdba206:49007a1c5560602d1daa06f4929aadc7:44747d370ac665b40cf143427cb834b8$</string>
            <key>textureFileName</key>
            <string>LastPass.png</string>
        </dict>
    </dict>
</plist>
