<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diyu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{71,165}</string>
                <key>spriteSourceSize</key>
                <string>{203,203}</string>
                <key>textureRect</key>
                <string>{{695,91},{71,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diyu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-18}</string>
                <key>spriteSize</key>
                <string>{88,165}</string>
                <key>spriteSourceSize</key>
                <string>{202,203}</string>
                <key>textureRect</key>
                <string>{{695,1},{88,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiandan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{61,151}</string>
                <key>spriteSourceSize</key>
                <string>{321,181}</string>
                <key>textureRect</key>
                <string>{{862,1},{61,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiandan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{87,151}</string>
                <key>spriteSourceSize</key>
                <string>{321,181}</string>
                <key>textureRect</key>
                <string>{{695,343},{87,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>kunnan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-67,-13}</string>
                <key>spriteSize</key>
                <string>{66,158}</string>
                <key>spriteSourceSize</key>
                <string>{202,194}</string>
                <key>textureRect</key>
                <string>{{856,164},{66,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kunnan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,-12}</string>
                <key>spriteSize</key>
                <string>{87,159}</string>
                <key>spriteSourceSize</key>
                <string>{211,193}</string>
                <key>textureRect</key>
                <string>{{695,164},{87,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pass1_bkg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,461}</string>
                <key>spriteSourceSize</key>
                <string>{692,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{264,28}</string>
                <key>spriteSourceSize</key>
                <string>{264,30}</string>
                <key>textureRect</key>
                <string>{{1,464},{264,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yiban1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,1}</string>
                <key>spriteSize</key>
                <string>{70,157}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{854,324},{70,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yiban2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,1}</string>
                <key>spriteSize</key>
                <string>{88,157}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{695,253},{88,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pass1_2.png</string>
            <key>size</key>
            <string>{925,493}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b7422c260f2573f8f6cebd9b1a65b69:50b4a4d36d1e1df5e4e595291352e4df:ea278e167c55aac5e24c9bd701fd47d1$</string>
            <key>textureFileName</key>
            <string>pass1_2.png</string>
        </dict>
    </dict>
</plist>
