<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_but1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,56}</string>
                <key>spriteSourceSize</key>
                <string>{125,56}</string>
                <key>textureRect</key>
                <string>{{830,305},{125,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back_but2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,56}</string>
                <key>spriteSourceSize</key>
                <string>{124,56}</string>
                <key>textureRect</key>
                <string>{{957,298},{124,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,0}</string>
                <key>spriteSize</key>
                <string>{133,194}</string>
                <key>spriteSourceSize</key>
                <string>{167,196}</string>
                <key>textureRect</key>
                <string>{{695,198},{133,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{133,195}</string>
                <key>spriteSourceSize</key>
                <string>{167,195}</string>
                <key>textureRect</key>
                <string>{{695,1},{133,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,6}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{214,156}</string>
                <key>textureRect</key>
                <string>{{1055,356},{106,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,3}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{213,156}</string>
                <key>textureRect</key>
                <string>{{830,1},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,145}</string>
                <key>textureRect</key>
                <string>{{1151,147},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,144}</string>
                <key>spriteSourceSize</key>
                <string>{107,146}</string>
                <key>textureRect</key>
                <string>{{1044,1},{105,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{107,145}</string>
                <key>textureRect</key>
                <string>{{1259,146},{105,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,150}</string>
                <key>spriteSourceSize</key>
                <string>{107,150}</string>
                <key>textureRect</key>
                <string>{{830,153},{105,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,145}</string>
                <key>textureRect</key>
                <string>{{1258,1},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,146}</string>
                <key>spriteSourceSize</key>
                <string>{107,146}</string>
                <key>textureRect</key>
                <string>{{937,150},{105,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,144}</string>
                <key>spriteSourceSize</key>
                <string>{107,146}</string>
                <key>textureRect</key>
                <string>{{1044,147},{105,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,149}</string>
                <key>textureRect</key>
                <string>{{948,363},{105,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{105,144}</string>
                <key>spriteSourceSize</key>
                <string>{121,162}</string>
                <key>textureRect</key>
                <string>{{1151,1},{105,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{105,148}</string>
                <key>spriteSourceSize</key>
                <string>{121,162}</string>
                <key>textureRect</key>
                <string>{{841,363},{105,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,143}</string>
                <key>spriteSourceSize</key>
                <string>{107,145}</string>
                <key>textureRect</key>
                <string>{{1271,291},{105,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head7_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,146}</string>
                <key>textureRect</key>
                <string>{{695,394},{109,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>head8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,143}</string>
                <key>spriteSourceSize</key>
                <string>{106,145}</string>
                <key>textureRect</key>
                <string>{{1163,292},{106,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head8_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{105,147}</string>
                <key>spriteSourceSize</key>
                <string>{107,149}</string>
                <key>textureRect</key>
                <string>{{937,1},{105,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pass_bkg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{692,461}</string>
                <key>spriteSourceSize</key>
                <string>{692,461}</string>
                <key>textureRect</key>
                <string>{{1,1},{692,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>word1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,30}</string>
                <key>spriteSourceSize</key>
                <string>{264,30}</string>
                <key>textureRect</key>
                <string>{{1,464},{264,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pass1.png</string>
            <key>size</key>
            <string>{1377,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ae98478679812eaf62c1708ad8f3e0e:4a2495cf7243b7d15edb79aa9edb06c9:12c0ebf2382508d80cdccfe152c1e2bd$</string>
            <key>textureFileName</key>
            <string>pass1.png</string>
        </dict>
    </dict>
</plist>
